.App {
  text-align:center;
}

.App > .page-header {
  margin: 3%;
}

.controls {
  text-align: center;
}

.controls > svg {
  top: 5px;
  position: relative;
  cursor: pointer;
}

.game {
  width: 65%;
  margin: 0 auto;
}

.game-column {
  display: flex;
  justify-content:center;
}

.board {
  width: 65%;
  margin: 0 auto;
  padding: 3%;
}

.cell{
  cursor: pointer;
}

.cell > img {
  width: 100%;
}

.game > .next-gen {
  margin: 3% 0;
}